<p id="notice">
    <%= notice %></p>
<p><strong>Title:</strong>
<%= @book.title %></p>
<p><strong>Body:</strong>
<%= @book.body %></p><br>

<%= link_to "Edit", edit_book_path(@book.id) %>
<span>|</span>
<a href="/books">Back</a>