<head>
  <title>WebCampBackendNew</title>
</head>
<body>
    <h2>ようこそBookersへ！</h2>
    <p class="comment">Bookersではさまざまな書籍に関するあなたの意見や</p>
    <p class="comment">印象を共有し交換することができます</p>
    <a href="/books">start</a>
</body>